@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600;800&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
}
header img {
    width: 100px;
    height: 100px;


}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    background-color: rgb(2, 12, 58);
    padding: 15PX;
    z-index: 1;
}
header h1 {
    color: red;
    font-size: 50px ;
    font-weight: 700;
    text-align: center;
    
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
header nav ul li a:hover{
    color: rgba(211, 8, 8, 0.815); ;
}
header nav ul li {
    display: inline-block;
    margin: 20px;
}

header img{
    display: flex;
    align-items: center;
}







/* MAIN */

.unite{

    width: 100%;
    height: calc(100vh - 130px);
    background-image:url(../img/hinchada-sl-noche-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-color: white;
    text-align: center;} 

.unite h2 {
    display: inline-block;
    font-size: 40px;
    color: white;
    border: 5px white solid; 
    padding: 10px;
    background-color: rgb(2, 12, 58);
    
}

.titulo h2{
margin: 15px;
font-size: 55px; 
background-color: rgba(211, 8, 8, 0.815);
color: white; 

}
.historia {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.historia img{
    width: 30%;
}
.historia div h3{
    margin: 15px;
    font-size: 40px;
}
.historia div{
width: 50%;

}
.viejo-gasometro div h3{
    margin: 15px;
    font-size: 40px;
}
.viejo-gasometro{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

}
.viejo-gasometro img{
    width: 30%;
}

.viejo-gasometro div{
    width: 50%;
    text-align: center;
}

.nuevo-gasometro div h3{
    margin: 15px;
    font-size: 40px;
}
.nuevo-gasometro{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.nuevo-gasometro img{
    width: 30%;
}
.nuevo-gasometro div{
    width: 50%;
    text-align: center;
}
.estadisticas h2{
    margin: 15px;
    font-size: 55px; 
    background-color:rgb(2, 12, 58);
    color: white; 
}
.estadisticas div{
    width: 100%;
    text-align: center;
}
.estadisticas div h2 {
    margin: 15px;
font-size: 55px; 
background-color: rgb(2, 12, 58);
color: white; 
}
.estadisticas div img{
   width: 900px;
   height: 900px;
    
}

.estadisticas h2 {
    font-size: 40px;
}
.estadisticas p {
    font-size: 30px;
}
.estadisticas div p {
    padding: 15px;
}

.merchandising .boton{
    text-decoration: none;
    color:black;
    background-color:white;
    padding: 10px;
}
.merchandising h2{
    margin: 15px;
    font-size: 55px; 
    background-color: rgba(211, 8, 8, 0.815);
    color: white; 
}
.merchandising .tarjetas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.merchandising .tarjetas div{
width: 350px;
height: 600px;
border: 2px solid black;
text-align: center;
background-color: rgb(2, 12, 58);
color: white;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
-webkit-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
-moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
}

.merchandising div h3{
    margin-bottom:35px ;
}

.merchandising div img{
    width: 340px;
    height: 350px;
}

.tarjetas div a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px;
    font-weight: 600;
}

.merchandising div a:hover{
    background-color:  rgba(211, 8, 8, 0.815);
    color: white;
}

.grid-galeria{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 400px;
    gap: 15px;
    padding: 20px;
}

.titulo-multimedia h2{
    margin: 15px;
    font-size: 55px; 
    background-color: rgba(211, 8, 8, 0.815);
    color: white; 
}
.grid-galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}
.grid-item h3 {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(2, 12, 58, 0.664);
    width: 100%;
    text-align: center;
}
.grid-item{
    box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
    -webkit-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
    position: relative;
}
.img-1{
    grid-column: span 2;
}
.img-8{
    grid-row: span 2;
}
.nuestro-club h2 {
    margin: 15px;
    font-size: 55px; 
    background-color: rgba(211, 8, 8, 0.815);
    color: white;  
}
.container img{
    width: 700px;
    height: 400px;
}
.container h3{
    margin: 15px;
    font-size: 35px; 
    background-color:rgb(2, 12, 58);
    color: white;  
}
.ubicacion iframe{
    display: flex;
    align-items: center;
}
.titulo-ubicacion h2{
    margin: 15px;
    font-size: 55px; 
    background-color: rgba(211, 8, 8, 0.815);
    color: white;  
}
.merchandising-page .boton{
    text-decoration: none;
    color:black;
    background-color:white;
    padding: 10px;
}
.merchandising-page h2{
    margin: 15px;
    font-size: 55px; 
    background-color: rgba(211, 8, 8, 0.815);
    color: white; 
}
.merchandising-page .tarjetas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.merchandising-page .tarjetas div{
width: 350px;
height: 600px;
border: 2px solid black;
text-align: center;
background-color: rgb(2, 12, 58);
color: white;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
-webkit-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
-moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
}

.merchandising-page div h3{
    margin-bottom:35px ;
}

.merchandising-page div img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.merchandising-page.tarjetas div a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px;
    font-weight: 600;
}

.merchandising-page div a:hover{
    background-color:  rgba(211, 8, 8, 0.815);
    color: white;
}
.merchandising-section2 .boton{
    text-decoration: none;
    color:black;
    background-color:white;
    padding: 10px;
}
.merchandising-section2 h2{
    margin: 15px;
    font-size: 55px; 
    background-color: rgba(211, 8, 8, 0.815);
    color: white; 
}
.merchandising-section2 .tarjetas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.merchandising-section2 .tarjetas div{
width: 350px;
height: 600px;
border: 2px solid black;
text-align: center;
background-color: rgb(2, 12, 58);
color: white;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
-webkit-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
-moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
}

.merchandising-section2 div h3{
    margin-bottom:35px ;
}

.merchandising-section2 div img{
    width: 340px;
    height: 350px;
}

.merchandising-section2 .tarjetas div a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px;
    font-weight: 600;
}

.merchandising-section2 div a:hover{
    background-color:  rgba(211, 8, 8, 0.815);
    color: white;
}

.merchandising-section3 .boton{
    text-decoration: none;
    color:black;
    background-color:white;
    padding: 10px;
}
.merchandising-section3 h2{
    margin: 15px;
    font-size: 55px; 
    background-color: rgba(211, 8, 8, 0.815);
    color: white; 
}
.merchandising-section3 .tarjetas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.merchandising-section3 .tarjetas div{
width: 350px;
height: 600px;
border: 2px solid black;
text-align: center;
background-color: rgb(2, 12, 58);
color: white;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
-webkit-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
-moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
}

.merchandising-section3 div h3{
    margin-bottom:35px ;
}

.merchandising-section3 div img{
    width: 340px;
    height: 350px;
}

.merchandising-section3 .tarjetas div a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px;
    font-weight: 600;
}

.merchandising-section3 div a:hover{
    background-color:  rgba(211, 8, 8, 0.815);
    color: white;
}
.fondo{
    background-image: url("https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt31db21db8e60b549/60dfb45bba2956259285f24f/316243fcc37b16f80b60c112c66fde91f8574672.jpg?auto=webp&format=pjpg&width=3840&quality=60");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.page-asociate{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{

    background-color: rgba(170, 167, 167, 0.808);
    width: 50%;
    padding: 45px 55px 80px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    
    margin-top: 40px;
    margin-bottom: 40px;
}


.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}
form h2{
    color: #1b1b1b;
    font-size: 35px;
    margin: 0;
}
.line{
    display: inline-block;
    width: 50px;
    height: 7px;
    background: linear-gradient(
        90deg,
        rgb(2, 12, 58) 0%,
        rgba(211, 8, 8, 0.815)77%);
}

label{
    color: #1b1b1b;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input{
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #ededed;
    color: #1b1b1b;
    outline: none;
}

input::placeholder{
    color: #c0c0c0;
}

.btn{
    font-size: 17px;
    color: #ffcfff;
    border: 0;
    border-radius: 25px;
    background: linear-gradient(
        90deg,
        rgb(2, 12, 58) 0%,
        rgba(211, 8, 8, 0.815)77%);
    box-shadow: 0 0 20px rgba(214, 0, 254, 0.4);
    cursor: pointer;
}
.btn:hover{
    background: linear-gradient(
        90deg,
        rgba(211, 8, 8, 0.815)0%,
        rgba(2, 12, 58)77%
    );
}




/* FOOTER */
footer{
    background-color: rgba(211, 8, 8, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
footer div a img{
    width: 30px;
    height: 30px;
    margin: 25px;


}


@media(max-width:991px) {
    .page-asociate{
        padding: 30px;
    }
    form{
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px 10px;
    }
}

@media screen and (max-width:950px){
    .grid-galeria{
        grid-template-columns:repeat(2,1fr) ;
        grid-auto-rows: 220px;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
    .historia{
        flex-direction: column;
    }
    .historia div{
        width: 80%;
        text-align: center;
        margin: 15px;
    }
    .viejo-gasometro{
        flex-direction: column;
    }
    .viejo-gasometro div{
        width: 80%;
        text-align: center;
        margin: 15px;
    }
    .nuevo-gasometro{
        flex-direction: column;
    }
    .nuevo-gasometro div{
        width: 80%;
        text-align: center;
        margin: 15px;
    }
}
@media screen and (max-width:910px){
    .estadisticas div img{
        width: 60%;
        height: 60%;
    }
}
@media screen and (max-width:800px){
    .unite h2{
        font-size: 25px;
    }
    .container img{
        width: 400px;
        height: 200px;
    }
}
@media screen and (max-width:711px){
    header{
        flex-direction: column;
    }
}
@media screen and (max-width:640px){
    header{
        position: static;
    }
}
@media screen and (max-width:600px){
    header nav ul{
        flex-direction: column;
    }
    .container img{
        align-items: center;
    }
}
@media screen and (max-width:460px){
    .grid-galeria{
        grid-template-columns:1fr ;

    }
    
    
    .merchandising h2{
        font-size: 25px;
        text-align: center;
    }
    .merchandising-page h2{
        font-size: 25px;
        text-align: center;
    }
    .merchandising-section2 h2{
        font-size: 25px;
        text-align: center;
    }
    .merchandising-section3 h2{
        font-size: 25px;
        text-align: center;
    }
    .titulo h2{
        font-size: 25px;
        text-align: center;
    }
    .estadisticas h2{
        font-size: 25px;
        text-align: center;
    }
    .tarjetas div {
        width: 60%;
        height: 60%;
        align-items: center;
    }
}
    

