.nuestro-club{
    h2{
        margin: 15px;
    font-size: 55px; 
    background-color: rgba(211, 8, 8, 0.815);
    color: white;  
} 
}
.container{
    h3{
        margin: 15px;
        font-size: 35px; 
        background-color:rgb(2, 12, 58);
        color: white;  
    }
    div{
        img{
            width: 700px;
            height: 400px;
        }
    }
}
.titulo-ubicacion{
    h2{
        margin: 15px;
    font-size: 55px; 
    background-color: rgba(211, 8, 8, 0.815);
    color: white;  
    }
}
.ubicacion{
    iframe{
        display: flex;
        align-items: center; 
    }
}
