.merchandising-page{
    h2{
        margin: 15px;
        font-size: 55px; 
        background-color: rgba(211, 8, 8, 0.815);
        color: white; 
    }
}
.tarjetas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    div{
        width: 350px;
        height: 500px;
        border: 2px solid black;
        text-align: center;
        background-color: rgb(2, 12, 58);
        color: white;
        margin: 25px;
        padding-bottom: 15px;
        display: inline-block;
        box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
        -webkit-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
        -moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.79);
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
       
    }
    h3{
        margin-bottom:35px ;
    }
    a{
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 15px;
        font-weight: 600;
        &:hover{
            background-color:  rgba(211, 8, 8, 0.815);
            color: white;
        }
    }
}

